<h1>Editing worksheet</h1>

<%= render "form", worksheet: @worksheet %>

<br>

<div>
  <%= link_to "Show this worksheet", @worksheet %> |
  <%= link_to "Back to worksheets", worksheets_path %>
</div>
