<h1>New student enrollment code</h1>

<%= render "form", student_enrollment_code: @student_enrollment_code %>

<br>

<div>
  <%= link_to "Back to student enrollment codes", student_enrollment_codes_path %>
</div>
